This is a Chat Application

Featues:
-Emoji
-Type Option
-Background color
-Text color
-Vibrant
-Audio calls
-Video Calls
-Image sharing
- Dark mode
- Voice Message
-Payment Option
Send Money
Receive Money
